.salle{
    border: 1px solid black;
}
.notification {
      position: absolute;
      top: 0;
      left: 40%;
      color: white;
      padding: 15px;
      border-radius: 5px;
      margin-top: 15px;
      animation: fadeIn 0.4s ease;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-10px); }
      to { opacity: 1; transform: translateY(0); }
    }